body {
    color: white;
    height: 100%;
    overflow: hidden;
}

html {
    background-image: url(./img/doubledFries.png);
    height: 100%;
    overflow: hidden;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, minmax(75px, 1fr));
    grid-template-rows: 3rem;
    gap: 0 10px;
    
    place-items: center;

    margin-top: 30px;
}

button {
    background: none;
    color: white;
    border: 3px solid ghostwhite;
}
button:hover {
    transform: scale(1.025);
}
button:active {
    transform: scale(0.975)
}

nav button:first-child{
    grid-column: 2 / 3; 
}

nav button {
    height: 30px;
    width: 80%;
}

#content {
    height: 100%;

    display: grid;
    place-items: center;
    grid-template-rows: repeat(4, 0.2fr);
}

#content div {
    grid-row: 2/3;

    display: grid;
    place-items: center;
}

#content div h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    font-style: italic;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.507);
}
#content div p {
    font-size: 20px;
    margin: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.507);
}

#content button {
    align-self: start;
    grid-row: 3/4;
    margin-top: 30px;

    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}